# Ignorar arquivos de log gerados pelo Airflow
airflow/airflow/logs/

# Ignorar arquivos de ambiente sensíveis
airflow/airflow/.env

# Ignorar arquivos cacheados do Python
__pycache__/
*.py[cod]

# Ignorar arquivos de configuração temporários do sistema operacional
*.swp
*.swo
.DS_Store
*.log

# Ignorar arquivos de cache do Airflow
airflow/airflow/dags/__pycache__/

# Ignorar o diretório 'latest', se for um link simbólico ou temporário
airflow/airflow/logs/scheduler/latest

# Ignorar arquivos de lock temporários de execução do Docker Compose
docker-compose.override.yml
